<h1>Real-Time Example in Angular using ASP.NET SignalR</h1>
<p>Real-time connection will only last 60 seconds before closing in the server side (if closed, just refresh the page). Real-time will iterate through USA and India</p>
<h4>Population per year in  {{signalR.title}}</h4>
<div class="chart" *ngIf='show'>
    <canvas baseChart
            [datasets]="signalR.dataset"
            [labels]="signalR.label"
            [type]="'line'"
            >
    </canvas>
</div>
<button class="btn btn-danger" (click)="closeConnect()">Close Connection</button>
<div>
    <app-pie></app-pie>
</div>

<h4>Technical Informationish</h4>
<p>Data obtained from <a href="https://population.un.org/wpp/Download/Standard/Population/">here</a> and it is in an excel file. That is essentially my database (it has 300k rows of information). I filtered the information to only incorporate America and India since that is a lot of data to go through.</p>
<p>You can check console log information in the website to see what exactly my backend api is sending every 2 seconds.
Based on that info, the frontend will dynamically change my charts to add in the new information.</p>
<p> Note: Just to quickly deploy this app, my BL, DL, and Model are in the same project and I used namespaces exclusively to separate those C# files</p>

<h4>Tips to how I developed it</h4>
<p>The repo will not guide you to how to incorporate it in your project but should give you an idea how to do it. Basically, it will be the most "updated" project that uses SignalR with Angular. As for as I know, none of the documents/articles online at the moment uses the latest .NET 6. They also don't use the latest npm package necessary for the signalR to work with Angular</p>
<p>As for frontend techs I used Chart.js to plot/animate everything you see here</p>
<p>How did I get here without getting the most updated docs in the world? By checking the documents for each tech I used since that will the freshest information you can get and seeing the difference from that information to the old information found online</p>
<a class="btn btn-primary" href="https://github.com/Scifiler-sys/SignalR_fun">Github Link Here</a>
<div>
    <a class="btn btn-primary" style="margin-top: 1rem;" href="https://code-maze.com/netcore-signalr-angular-realtime-charts/">The most useful article I found to do my own spin</a>
</div>